<div class="jumbotron">
  <h1 class="display-4">Welcome to the School</h1>
  <p class="lead">select the page you want to visit</p>
  <hr class="my-4">
  <p>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/students" role="button">Students Detials</a>
    <a class="btn btn-primary btn-lg" href="/students/rankings" role="button">Exam Report</a>
    <a class="btn btn-primary btn-lg" href="/weather" role="button">Weather Report</a>
  </p>
</div>